{:paths ["src"]
 :deps  {io.github.nextjournal/clerk {:mvn/version "0.12.699"}}
 :aliases 
 {:neil {:project {:name clerktudes/clerktudes}}
  :nextjournal/clerk {:exec-fn nextjournal.clerk/build!
                      :exec-args {:paths ["notebooks/*.clj"]}}
  :clerk {:extra-paths ["input"]
          :exec-fn nextjournal.clerk/build!
          :exec-args {:paths ["notebooks/*.clj"]
                      :out-path "."}}}}
