{:paths ["src"]
 :deps  {io.github.nextjournal/clerk {:mvn/version "0.15.957"}
         org.clojure/math.combinatorics {:mvn/version "0.2.0"}
         org.clojure/test.check {:mvn/version "1.1.1"}
         org.clojure/math.numeric-tower {:mvn/version "0.0.5"}} 
 :aliases 
 {:neil {:project {:name clerktudes/clerktudes}}
  :nextjournal/clerk {:exec-fn nextjournal.clerk/build!
                      :extra-paths ["input" "notebooks"]
                      :exec-args {:paths ["notebooks/*.clj"]}}
  :clerk {:extra-paths ["input" "notebooks"]
          :exec-fn nextjournal.clerk/build!
          :exec-args {:paths ["notebooks/*.clj"]
                      :out-path "."}}}}
